*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: Bahnschrift, serif;
    background-color: blueviolet;
}
nav{
    background: blueviolet;
    height: 80px;
    width: 100%;
}

nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover{
    background: hotpink;
}
.button{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 952px) {
    nav ul li a {
        font-size: 16px;
    }

    @media (max-width: 600px) {
        .button {
            display: block;
        }

        ul {
            position: fixed;
            width: 100%;
            height: 999px;
            background: blueviolet;
            top: 80px;
            left: -100%;
            text-align: center;
        }

        nav ul li {
            display: block;
            margin: 50px 0;
            line-height: 30px;
        }

        nav ul li a {
            font-size: 20px;
        }

        a:hover, a.active {
            background: none;
            color: #0082e6;
        }

        #check:checked ~ ul {
            left: 0;
        }
    }
    .container {
        max-width: 800px;
        margin: 0 auto;
    }

    .kocky {
        display: flex;
        flex-direction: column;
    }

    .kocky .kocka {
        margin-bottom: 15px;
        padding: 15px;
        width: 100%;
    }

    .kocky .kocka .kocicka {
        background: blueviolet;
        display: flex;
        flex-direction: row;
        padding: 10px;
    }

    .kocky .kocka .cici-image {
        display: flex;
        width: 100%;
        max-width: 150px;
        margin-right: 15px;
    }

    .kocky .cici-image img {
        max-width: 150px;
    }

    .kocky .kocka h2 {
        font-family: 'Alata', sans-serif;
        font-size: 1.5em;
    }
    @media (min-width: 768px) {
        .kocky {
            flex-direction: row;
            justify-content: space-evenly;
        }

        .kocky .kocka .kocicka {
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 100%;
        }

        .kocky .kocka .cici-image {
            margin: 0;
        }

        .kocky .kocka h2 {
            margin-top: 20px;
        }
    }

    @media (min-width: 992px) {
        .kocky .kocka .cici-image, .kocky .kocka .cici-image img {
            max-width: 100%;
        }
    }

    @media (min-width: 1200px) {
        .container {
            max-width: 100%;
        }
    }
}